.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/20190207_RL50_handbag_lp_c01_hero.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 838px;
}

.u-section-1 .u-group-1 {
  width: 739px;
  min-height: 422px;
  margin: 208px auto 208px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 68px;
  margin: 54px auto 0 -20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 12px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 40px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 678px;
    min-height: 532px;
    margin-top: 153px;
    margin-bottom: 85px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    font-weight: 100;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 85.49% 0%;
  }

  .u-section-1 .u-group-1 {
    width: 519px;
    margin-top: 216px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 85.18% 0%;
  }

  .u-section-1 .u-group-1 {
    width: 487px;
    margin-top: 209px;
    margin-left: -1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 210px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 120px;
    height: 67px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 {
  min-height: 637px;
}

.u-section-2 .u-layout-wrap-1 {
  min-height: 400px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 96px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: normal;
  margin: 70px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 40px auto 70px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/ANR03846.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 41px;
  padding-right: 41px;
}

.u-section-2 .u-text-2 {
  font-weight: bold;
  font-size: 3rem;
  margin: 306px 0 70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 79px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 55px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 2.25rem;
    width: auto;
    margin-top: 385px;
    margin-bottom: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 561px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 61px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    line-height: 33px;
    margin-top: 55px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 57px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 325px;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 808px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    line-height: 53px;
    width: auto;
    margin-top: 122px;
    margin-right: 89px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 0%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 45px;
    padding-left: 65px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 56px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 142px;
    margin-right: 84px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 650px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 29px 0 56px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 24px;
    margin-bottom: 0;
  }
}.u-section-3 {
  min-height: 327px;
  background-image: linear-gradient(#dec79b, #c6c4c5);
}

.u-section-3 .u-layout-wrap-1 {
  margin: 1px auto 1px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/ANR04166.jpg");
  background-position: 37.51% 68.26%;
  background-size: 320%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/600x6001.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/600x6004.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/ANR03920.jpg");
  background-position: 66.99% 79.74%;
  background-size: 385%;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding-right: 84px;
}

.u-section-3 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  font-weight: normal;
  margin: 80px 0 0 63px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 38px 0 80px auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    background-position: 37.93% 82.29%;
    background-size: auto 265%;
  }

  .u-section-3 .u-image-4 {
    background-position: 67.33% 89.09%;
    background-size: auto 400%;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 69px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
    line-height: 1.3;
    margin-left: 52px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-social-icons-1 {
    min-width: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 212px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    background-size: 265%;
  }

  .u-section-3 .u-image-4 {
    background-size: 385%;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 53px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 40px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 246px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 2035px;
  }

  .u-section-3 .u-image-1 {
    min-height: 497px;
  }

  .u-section-3 .u-image-2 {
    min-height: 419px;
  }

  .u-section-3 .u-image-3 {
    min-height: 431px;
  }

  .u-section-3 .u-image-4 {
    min-height: 400px;
    background-position: 64.22% 91.91%;
    background-size: auto 325%;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 228px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-left: 19px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 940px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 940px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 109px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 58px 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 432px;
  height: 442px;
  object-position: 50% 11.08%;
  background-position: 50% 0%;
  margin: 40px auto 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 54px auto 58px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 607px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-4 .u-text-2 {
  line-height: 1.6;
  font-weight: normal;
  font-size: 1.875rem;
  margin: 60px 140px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 40px auto 60px 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/600x6005.jpg");
  min-height: 333px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/2020-10-2604.50.271.jpg");
  min-height: 333px;
  background-position: 50% 14.78%;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 776px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 775px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 56px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 106px;
    margin-right: 106px;
  }

  .u-section-4 .u-image-1 {
    width: 429px;
    height: 518px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-2 {
    font-weight: 700;
    line-height: 40px;
    margin-top: 0;
    margin-right: 115px;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 275px;
  }

  .u-section-4 .u-image-3 {
    min-height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 621px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 90px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 78px;
    margin-right: 82px;
  }

  .u-section-4 .u-image-1 {
    width: 378px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 55px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-right: 147px;
  }

  .u-section-4 .u-image-2 {
    background-position: 50% 0%;
    min-height: 421px;
  }

  .u-section-4 .u-image-3 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1464px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 69px;
  }

  .u-section-4 .u-text-1 {
    width: 502px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 406px;
    margin-top: 48px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 56px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 60px;
    margin-right: 66px;
    width: 518px;
  }

  .u-section-4 .u-image-2 {
    background-position: 50% 50%;
    min-height: 632px;
  }

  .u-section-4 .u-image-3 {
    min-height: 632px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 996px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.8125rem;
    width: auto;
    margin-top: 73px;
    margin-right: 69px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 250px;
    margin-top: 60px;
    margin-right: 122px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 49px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 69px;
  }

  .u-section-4 .u-text-2 {
    line-height: 33px;
    width: auto;
    margin-top: 50px;
    margin-right: 42px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 33px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-image-2 {
    min-height: 398px;
  }

  .u-section-4 .u-image-3 {
    background-position: 50% 9.9%;
    min-height: 398px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/texte-cover_1440_12002.jpg");
  min-height: 1012px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 435px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/slider-1_1440_12001.jpg");
  min-height: 577px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 577px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 15px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 577px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 59px;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  line-height: 52.8px;
  font-size: 3rem;
  margin: 60px 0 0 28px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 40px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 34px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 48px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.25rem;
    width: auto;
    margin-top: 59px;
    margin-left: 32px;
  }

  .u-section-5 .u-btn-1 {
    letter-spacing: 1px;
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 763px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 467px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 26px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 53px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 150px;
    margin-left: 12px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 29px;
    margin-bottom: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1912px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 324px;
    margin: 458px auto 71px calc(((100% - 540px) / 2) + 108px);
  }

  .u-section-5 .u-image-1 {
    min-height: 461px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 80px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    width: 264px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1227px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 288px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: calc(((100% - 340px) / 2) + 26px);
  }

  .u-section-5 .u-image-1 {
    min-height: 587px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 489px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 223px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 18px;
  }
}.u-section-6 {
  min-height: 573px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/slider-2_1440_1200.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/slider-4_1440_1200.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/slider-4_1440_12001.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-4 {
  background-image: url("images/slider-2_1440_12001.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1379px;
  }

  .u-section-6 .u-image-1 {
    min-height: 690px;
  }

  .u-section-6 .u-image-2 {
    min-height: 690px;
  }

  .u-section-6 .u-image-3 {
    min-height: 690px;
  }

  .u-section-6 .u-image-4 {
    min-height: 690px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 4389px;
  }

  .u-section-6 .u-image-1 {
    min-height: 1098px;
  }

  .u-section-6 .u-image-2 {
    min-height: 1098px;
  }

  .u-section-6 .u-image-3 {
    min-height: 1098px;
  }

  .u-section-6 .u-image-4 {
    min-height: 1096px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 712px;
  }

  .u-section-6 .u-image-2 {
    min-height: 710px;
  }

  .u-section-6 .u-image-3 {
    min-height: 723px;
  }

  .u-section-6 .u-image-4 {
    min-height: 685px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 710px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-image-1 {
  pointer-events: auto;
  background-image: url("images/dior.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-2 {
  pointer-events: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 351px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 777px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 442px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 28px auto 28px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 386px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 40px 213px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 15px 20px 40px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 386px;
}

.u-section-8 .u-form-1 {
  height: 308px;
  width: 504px;
  margin: 0 auto;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-8 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-right: 103px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 32px;
  }

  .u-section-8 .u-form-1 {
    width: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 26px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    width: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 101px;
    width: 421px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-8 .u-form-1 {
    height: 305px;
    width: 522px;
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-wrap-1 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: 28px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 12px;
    margin-bottom: 25px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-8 .u-form-1 {
    width: 300px;
  }
}